# Логи
logs
*.log

# Дані виконання
pids
*.pid
*.seed
*.pid.lock

# Директорії залежностей
node_modules/
jspm_packages/

# Опціональна директорія кешу npm
.npm

# Змінні середовища
.env

# Файли, специфічні для редакторів
.vscode/
.idea/

# Файли, створені операційною системою
.DS_Store
Thumbs.db

# Результати збірки
build/
dist/
out/
*.zip
